<div class="container">
    <h2>Perfil</h2>
    <div align="left">
        <button type="button" class="btn btn-outline-success" [routerLink]="['/detalle']">Regresar</button>
    </div>
    <div align="center">

        <img src="https://sm.ign.com/ign_es/gallery/e/every-poke/every-pokemon-in-detective-pikachu_5ujd.jpg" alt=""
            class="imgPerfil">
        <hr>
        <br>
    </div>
    <div class="borderContent total">
        <ul>
            <li class="unico">
                <img src="https://img.icons8.com/cotton/64/000000/gender-neutral-user--v2.png" width="35px" /> Rivera
                Lauyola Victor
                Humberto
            </li>
            <li class="unico">
                <img src="https://img.icons8.com/cotton/64/000000/phone-message.png" width="35px" /> 55-75-54-93-75
            </li>

            <li class="unico">
                <img src="https://img.icons8.com/fluency/48/000000/filled-message.png" width="35px" />
                victor-04-29@outlook.com
            </li>

        </ul>
    </div>




</div>